.navbar {
    background-color: white;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    flex: auto;
}

.navbar li {
    float: left;
}

.navbar a {
    padding: 7px;
    font-size: 15px;
    display: block;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    color: rgb(239, 244, 240);
}

.navbar {
    background-color: rgb(27, 14, 40);
}

.navbar a:hover {
    border: 1px solid #000000;
}

#ff {
    padding-left: 6%;
}

#tt {
    padding-right: 30%;
}

* {
    box-sizing: border-box;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    max-width: 1200px;
}

a {
    text-decoration: none;
}

.bg-main {
    background-color: #f9e0bb5e;
}

.bg-brown {
    background-color: #563d37;
}

.fs-17 {
    font-size: 17px;
}

.img-bo {
    border: 2px solid #bdbdbd;
    padding: 6px;
}

.btn-brown {
    background-color: #321e1e;
    padding: 9px 33px;
    border: 0;
    font-weight: bold;
}

.t-color {
    color: #ffc26f;
}

@media (max-width: 767px) {
    .hide-mb {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .hide-tab {
        display: none;
    }
}

@media (min-width: 1024px) {
    .main-menu > li:not(:last-child) {
        margin-right: 30px;
        padding-right: 30px;
        border-right: 1px solid #eee;
    }
}

.divider {
    position: relative;
    margin-top: 60px;
    height: 1px;
}

.div-transparent:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgb(181 181 181), transparent);
}

.header-row {
    border-bottom: 2px solid #c5c5c5;
    padding-bottom: 5px;
}

.header-row a,
.link-profile {
    color: #75ce45;
    font-size: 14px;
}

.text-link {
    color: #75ce45;
}

.fs-18 {
    font-size: 18px;
}

.post-item .box-img {
    padding-right: 13px;
}

.img-avt {
    max-height: 195px;
    object-fit: cover;
}

.card-avt {
    border: none;
}

.card-avt .card-body {
    padding-left: 0;
}

footer .row-bottom {
    border-top: 1px solid #e3e3e3;
}

.logo-footer {
    border: 1px solid #e3e3e3;
    padding: 5px;
}

.list-group .list-group-item {
    background: transparent;
    padding-left: 0;
    border-bottom-color: #5a5a5a;
}

.icon-quote-right {
    transform: rotate(180deg);
}

.icon-quote {
    font-size: 20px;
}

.tt-post {
    color: #bdd198;
}

.bg-link {
    background-color: #75ce45;
}

.form-control {
    background: #7c7c7c;
    border: 0;
}

.form-control::placeholder {
    color: #a3a3a3;
}

.text-light {
    color: #a3a3a3;
}

form.search {
    position: relative;
}

form.search input {
    border-radius: 36px;
}

form.search input::placeholder {
    color: #fff;
}

.icon-search {
    position: absolute;
    right: 0;
    top: 0;
    width: 36px;
    height: 36px;
    background: #000;
    border-radius: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container1 {
    display: flex;
    width: 100%;
    padding-left: 30px;
    background-color: #321e1e;
}

.white-text {
    flex: 5;
    padding: 40px;
    color: #e3e3e3;
}

.ccc {
    padding-left: 62px;
}

input[type="text"] {
    padding: 2px;
    border: 2px solid #e7e0e0;
    border-radius: 5px;
    width: 260px;
    height: 30px;
    resize: none;
    padding-left: 1%;
    float: left;
}

button {
    background-color: rgb(254, 254, 254);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.color-row {
    background-color: rgb(221, 81, 11);
    height: 14px;
}

.happyending {
    height: 70px;
    background-color: #081302;
}

.nn {
    padding-top: 10px;
    float: left;
}

.mm {
    padding-left: 32px;
    padding-top: 10px;
}
